<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增【跳转Url】')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-srefresh-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">跳转url：</label>
                <div class="col-sm-8">
                    <input name="screenurl" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">跳转时间（分）：</label>
                <div class="col-sm-8">
                    <input name="screentime" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/srefresh"
        $("#form-srefresh-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-srefresh-add').serialize());
            }
        }
    </script>
</body>
</html>