<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.tool.mapper.CsafeInfoMapper">
    
    <resultMap type="com.ruoyi.web.controller.tool.entity.CsafeInfo" id="CsafeInfoResult">
        <result property="infoId"    column="info_id"    />
        <result property="infoLabel"    column="info_label"    />
        <result property="infoValue"    column="info_value"    />
        <result property="infoCode"    column="info_code"    />
        <result property="infoUnit"    column="info_unit"    />
    </resultMap>

    <sql id="selectCsafeInfoVo">
        select info_id, info_label, info_value, info_code, info_unit from csafe_info
    </sql>

    <select id="selectCsafeInfoList" parameterType="com.ruoyi.web.controller.tool.entity.CsafeInfo" resultMap="CsafeInfoResult">
        <include refid="selectCsafeInfoVo"/>
        <where>  
            <if test="infoLabel != null  and infoLabel != ''"> and info_label like concat('%', #{infoLabel},'%')</if>
            <if test="infoValue != null  and infoValue != ''"> and info_value = #{infoValue}</if>
            <if test="infoCode != null  and infoCode != ''"> and info_code = #{infoCode}</if>
            <if test="infoUnit != null  and infoUnit != ''"> and info_unit = #{infoUnit}</if>
        </where>
    </select>
    
    <select id="selectCsafeInfoById" parameterType="Long" resultMap="CsafeInfoResult">
        <include refid="selectCsafeInfoVo"/>
        where info_id = #{infoId}
    </select>
        
    <insert id="insertCsafeInfo" parameterType="com.ruoyi.web.controller.tool.entity.CsafeInfo" useGeneratedKeys="true" keyProperty="infoId">
        insert into csafe_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="infoLabel != null  and infoLabel != ''">info_label,</if>
            <if test="infoValue != null  and infoValue != ''">info_value,</if>
            <if test="infoCode != null  and infoCode != ''">info_code,</if>
            <if test="infoUnit != null  and infoUnit != ''">info_unit,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="infoLabel != null  and infoLabel != ''">#{infoLabel},</if>
            <if test="infoValue != null  and infoValue != ''">#{infoValue},</if>
            <if test="infoCode != null  and infoCode != ''">#{infoCode},</if>
            <if test="infoUnit != null  and infoUnit != ''">#{infoUnit},</if>
         </trim>
    </insert>

    <update id="updateCsafeInfo" parameterType="com.ruoyi.web.controller.tool.entity.CsafeInfo">
        update csafe_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="infoLabel != null  and infoLabel != ''">info_label = #{infoLabel},</if>
            <if test="infoValue != null  and infoValue != ''">info_value = #{infoValue},</if>
            <if test="infoCode != null  and infoCode != ''">info_code = #{infoCode},</if>
            <if test="infoUnit != null  and infoUnit != ''">info_unit = #{infoUnit},</if>
        </trim>
        where info_id = #{infoId}
    </update>

    <delete id="deleteCsafeInfoById" parameterType="Long">
        delete from csafe_info where info_id = #{infoId}
    </delete>

    <delete id="deleteCsafeInfoByIds" parameterType="String">
        delete from csafe_info where info_id in 
        <foreach item="infoId" collection="array" open="(" separator="," close=")">
            #{infoId}
        </foreach>
    </delete>
    
</mapper>