<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.tool.mapper.CsafeToptextMapper">
    
    <resultMap type="com.ruoyi.web.controller.tool.entity.CsafeToptext" id="CsafeToptextResult">
        <result property="id"    column="Id"    />
        <result property="text"    column="text"    />
    </resultMap>

    <sql id="selectCsafeToptextVo">
        select Id, text from csafe_toptext
    </sql>

    <select id="selectCsafeToptextList" parameterType="com.ruoyi.web.controller.tool.entity.CsafeToptext" resultMap="CsafeToptextResult">
        <include refid="selectCsafeToptextVo"/>
        <where>  
            <if test="text != null  and text != ''"> and text = #{text}</if>
        </where>
    </select>
    
    <select id="selectCsafeToptextById" parameterType="Integer" resultMap="CsafeToptextResult">
        <include refid="selectCsafeToptextVo"/>
        where Id = #{id}
    </select>
        
    <insert id="insertCsafeToptext" parameterType="com.ruoyi.web.controller.tool.entity.CsafeToptext">
        insert into csafe_toptext
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">Id,</if>
            <if test="text != null  and text != ''">text,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="text != null  and text != ''">#{text},</if>
         </trim>
    </insert>

    <update id="updateCsafeToptext" parameterType="com.ruoyi.web.controller.tool.entity.CsafeToptext">
        update csafe_toptext
        <trim prefix="SET" suffixOverrides=",">
            <if test="text != null  and text != ''">text = #{text},</if>
        </trim>
        where Id = #{id}
    </update>

    <delete id="deleteCsafeToptextById" parameterType="Integer">
        delete from csafe_toptext where Id = #{id}
    </delete>

    <delete id="deleteCsafeToptextByIds" parameterType="String">
        delete from csafe_toptext where Id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>