<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.tool.mapper.CsafePicscollMapper">
    
    <resultMap type="com.ruoyi.web.controller.tool.entity.CsafePicscoll" id="CsafePicscollResult">
        <result property="picId"    column="pic_id"    />
        <result property="picUrl"    column="pic_url"    />
    </resultMap>

    <sql id="selectCsafePicscollVo">
        select pic_id, pic_url from csafe_picscoll
    </sql>

    <select id="selectCsafePicscollList" parameterType="com.ruoyi.web.controller.tool.entity.CsafePicscoll" resultMap="CsafePicscollResult">
        <include refid="selectCsafePicscollVo"/>
        <where>  
            <if test="picUrl != null  and picUrl != ''"> and pic_url = #{picUrl}</if>
        </where>
    </select>
    
    <select id="selectCsafePicscollById" parameterType="Long" resultMap="CsafePicscollResult">
        <include refid="selectCsafePicscollVo"/>
        where pic_id = #{picId}
    </select>
        
    <insert id="insertCsafePicscoll" parameterType="com.ruoyi.web.controller.tool.entity.CsafePicscoll" useGeneratedKeys="true" keyProperty="picId">
        insert into csafe_picscoll
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="picUrl != null  and picUrl != ''">pic_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="picUrl != null  and picUrl != ''">#{picUrl},</if>
         </trim>
    </insert>

    <update id="updateCsafePicscoll" parameterType="com.ruoyi.web.controller.tool.entity.CsafePicscoll">
        update csafe_picscoll
        <trim prefix="SET" suffixOverrides=",">
            <if test="picUrl != null  and picUrl != ''">pic_url = #{picUrl},</if>
        </trim>
        where pic_id = #{picId}
    </update>

    <delete id="deleteCsafePicscollById" parameterType="Long">
        delete from csafe_picscoll where pic_id = #{picId}
    </delete>

    <delete id="deleteCsafePicscollByIds" parameterType="String">
        delete from csafe_picscoll where pic_id in 
        <foreach item="picId" collection="array" open="(" separator="," close=")">
            #{picId}
        </foreach>
    </delete>
    <select id="page" resultMap="CsafePicscollResult"
            parameterType="com.ruoyi.common.utils.bean.Query">
        select * from csafe_picscoll where 1=1

        <if test="picId != null and picId !=''">
            pic_id = #{picId}
        </if>
        <if test="picUrl != null and picUrl !=''">
            pic_url = #{pic_url}
        </if>
        ORDER  by pic_id Asc

    </select>
</mapper>