<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.tool.mapper.CsafeInfoMapper">
    
    <resultMap type="com.ruoyi.web.controller.tool.entity.CsafeInfo" id="CsafeInfoResult">
        <result property="infoId"    column="info_id"    />
        <result property="infoLabel"    column="info_label"    />
        <result property="infoValue"    column="info_value"    />
    </resultMap>

    <sql id="selectCsafeInfoVo">
        select info_id, info_label, info_value from csafe_info
    </sql>

    <select id="selectCsafeInfoList" parameterType="com.ruoyi.web.controller.tool.entity.CsafeInfo" resultMap="CsafeInfoResult">
        <include refid="selectCsafeInfoVo"/>
        <where>  
            <if test="infoLabel != null  and infoLabel != ''"> and info_label = #{infoLabel}</if>
            <if test="infoValue != null  and infoValue != ''"> and info_value = #{infoValue}</if>
        </where>
    </select>
    
    <select id="selectCsafeInfoById" parameterType="Long" resultMap="CsafeInfoResult">
        <include refid="selectCsafeInfoVo"/>
        where info_id = #{infoId}
    </select>
        
    <insert id="insertCsafeInfo" parameterType="com.ruoyi.web.controller.tool.entity.CsafeInfo" useGeneratedKeys="true" keyProperty="infoId">
        insert into csafe_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="infoLabel != null  and infoLabel != ''">info_label,</if>
            <if test="infoValue != null  and infoValue != ''">info_value,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="infoLabel != null  and infoLabel != ''">#{infoLabel},</if>
            <if test="infoValue != null  and infoValue != ''">#{infoValue},</if>
         </trim>
    </insert>

    <update id="updateCsafeInfo" parameterType="com.ruoyi.web.controller.tool.entity.CsafeInfo">
        update csafe_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="infoLabel != null  and infoLabel != ''">info_label = #{infoLabel},</if>
            <if test="infoValue != null  and infoValue != ''">info_value = #{infoValue},</if>
        </trim>
        where info_id = #{infoId}
    </update>

    <delete id="deleteCsafeInfoById" parameterType="Long">
        delete from csafe_info where info_id = #{infoId}
    </delete>

    <delete id="deleteCsafeInfoByIds" parameterType="String">
        delete from csafe_info where info_id in 
        <foreach item="infoId" collection="array" open="(" separator="," close=")">
            #{infoId}
        </foreach>
    </delete>
    <select id="page" resultMap="CsafeInfoResult"
            parameterType="com.ruoyi.common.utils.bean.Query">
        select * from csafe_info where 1=1

        <if test="infoId != null and infoId !=''">
            info_id = #{infoId}
        </if>
        <if test="infoLabel != null and infoLabel !=''">
            info_label = #{infoLabel}
        </if>
        <if test="infoValue != null and infoValue !=''">
            info_value = #{infoValue}
        </if>
        ORDER  by info_id Asc
    </select>
</mapper>